block globals

doctype html
html(lang="en")
  head
    include _head.pug

  body(id=(body_id || 'default-page'), class=(body_class || 'theme-default'))

  block navigation
    header
      if extended
        .navbar-fixed.nav-extended
          nav(class="navbar")
            .nav-wrapper
              a(href="#", class="brand-logo") #{title}
              ul(id="nav-mobile", class="right")
                li.hide-on-med-and-down
                  a(href="#") Enlace
                li.hide-on-med-and-down
                  a(href="#")
                    i.fas.fa-bell
                li
                  a(href="#")
                    i.fas.fa-cog
              a(href="#!", data-target="slide-out", class="sidenav-trigger left")
                i.fas.fa-bars
          nav(class="nav-content")
            .nav-wrapper
              ul.tabs
                li.tab
                  a(href="#test1") Métrica
                li.tab
                  a(href="#test2") Empleados
                li.tab
                  a(href="#test3") Calendario
      else
        .navbar-fixed
          nav(class="navbar")
            .nav-wrapper
              a(href="#", class="brand-logo") #{title}
              ul(id="nav-mobile", class="right")
                li.hide-on-med-and-down
                  a(href="#") Enlace
                li.hide-on-med-and-down
                  a(href="#")
                    i.fas.fa-bell
                li
                  a(href="#")
                    i.fas.fa-cog
              a(href="#!", data-target="slide-out", class="sidenav-trigger left")
                i.fas.fa-bars
        
      ul#slide-out.sidenav
          li
            a.logo-container(href="/admin.html")
              | SISGEP
          mixin mainmenu(activeItem, activeItemChild)
            -var menuItems = [{name: 'Inicio', href: './admin.html', isActive: false, child: null}, {name: 'Default Theme', href: './dashboard.html', isActive: false, child: null}, {name: 'Recursos Naturales', href :null, isActive: false, child: [{name: 'Listado Formularios', href: './listado-formularios.html', isActive: false, child: null, icon: 'fab fa-wpforms'}]}, {name: 'Componentes', href :null, isActive: false, child: [{name: 'Spinner', href: './spinner.html', isActive: false, child: null, icon: 'fas fa-circle-notch'}, {name: 'SimpleBar', href: './simplebar.html', isActive: false, child: null, icon: 'fas fa-sliders-h'}, {name: 'Modals', href: './modals.html', isActive: false, child: null, icon: 'fas fa-window-restore'}]}]

            each val, index in menuItems
              if val.child == null
                if menuItems[index].name === activeItem
                  li.bold.active
                    a.waves-effect.waves-primary(href=val.href, title=val.name)
                        span= val.name
                else
                  li.bold.waves-effect
                    a.waves-effect.waves-primary(href=val.href, title=val.name)
                      span= val.name
              else
                li.no-padding
                  ul.collapsible.collapsible-accordion
                    if menuItems[index].name === activeItem
                      li.bold.active
                        a.collapsible-header.waves-effect.waves-primary(tabindex="0") 
                          span= val.name
                        .collapsible-body
                          ul
                            each value, index in val.child
                              if value.name === activeItemChild
                                li.active
                                  a(href=value.href, title=value.name)
                                    i(class=value.icon)
                                    span= value.name
                              else
                                li
                                  a(href=value.href, title=value.name)
                                    i(class=value.icon)
                                    span= value.name

                    else
                      li.bold.waves-effect
                        a.collapsible-header.waves-effect.waves-primary(tabindex="0") 
                          span= val.name
                        .collapsible-body
                          ul
                            each value, index in val.child
                              if value.name === activeItemChild
                                li.active
                              else
                                li
                                  a(href=value.href, title=value.name)
                                    i(class=value.icon)
                                    span= value.name

          block mainmenu
            +mainmenu('Inicio','')
    
  block main
    main
      .container
        block content

  block footer
    include _footer.pug

  block scripts
    script(src='dist/scripts/vendor.js')